<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>552775207206-2o6k4tj360cdn60s93lltd1e5h7kimva.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.552775207206-2o6k4tj360cdn60s93lltd1e5h7kimva</string>
	<key>API_KEY</key>
	<string>AIzaSyBYcaKXZ_mxITfy_30QfQirCRPZJJdMSCg</string>
	<key>GCM_SENDER_ID</key>
	<string>552775207206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterWebsportfire</string>
	<key>PROJECT_ID</key>
	<string>flutterwebsportfire</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterwebsportfire.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:552775207206:ios:db4df6e7c7a108e1b2d9e7</string>
</dict>
</plist>